<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <style>
       body {
          margin-top:30px;
          margin-bottom:20px;
          margin-left:20px;
          margin-right:20px;
       }
   </style>

  </head>
  <body>
    <h4 style="text-align: left;" data-ke-size="size20"><span style="color: #333333;"><b>Phopo&nbsp;안드로이드용&nbsp;서비스가&nbsp;출시되었습니다!&nbsp;</b> </span></h4>
<p><span style="color: #333333;"><br />모든&nbsp;사진은&nbsp;정확한&nbsp;정보&nbsp;전달과&nbsp;건강한&nbsp;커뮤니티&nbsp;운영을&nbsp;위해&nbsp;공유되기&nbsp;전&nbsp;확인&nbsp;과정을&nbsp;거칩니다. </span></p>
<p><span style="color: #333333;">따라서&nbsp;업로드&nbsp;후&nbsp;바로&nbsp;공유되지&nbsp;않을&nbsp;수&nbsp;있습니다.&nbsp;이&nbsp;점&nbsp;양해&nbsp;부탁드립니다. </span></p>
<p><span style="color: #333333;"><br />IOS&nbsp;서비스는&nbsp;출시&nbsp;준비&nbsp;중에&nbsp;있습니다.&nbsp;빠른&nbsp;시일&nbsp;내에&nbsp;이용하실&nbsp;수&nbsp;있도록&nbsp;노력하겠습니다. </span></p>
<p><span style="color: #333333;"><br />감사합니다.</span></p>
  </body>
</html>
