<!DOCTYPE html>
<html>

<body leftmargin="20" rightmargin="20">
       <style>
            ul{
               padding-left: 15px;
            }
       </style>



        <h3>All images are checked before they are shared for accurate information and health community.</h3>

        <h3><font color="#D64D4D">Images can be returned in the following situations.</font></h3>

           <ul>
                <li>the location information is incorrect</li>
                <br>
                <li>can't recognize where you take</li>
                <br>
                <li>spam, abuse, hateful speech, obscene materials and theft by unauthorized taking</li>
                <br>
                <li>it contains information that may cause discomfort to the user</li>
          </ul>
    <br>
    <br> <br>
</body>

</html>
