<!DOCTYPE html>
<html>

<body leftmargin="20" rightmargin="20">
       <style>
            ul{
               padding-left: 15px;
            }
       </style>



        <h3>所有照片在共享之前都会经过确认过程,以便准确传达信息和运营健康的社区。</h3>
        <h3><font color="#D64D4D">以下情况下照片可能会被退回。</font></h3>

           <ul>
                <li>位置信息不准确的照片</li>
                <br>
                <li>无法确认在哪里拍的照片</li>
                <br>
                <li>照片和说明为垃圾,辱骂和诽谤,淫秽物品,擅自盗用者</li>
                <br>
                <li>包括其他照片和说明可能给使用者带来不快的内容时</li>
          </ul>

    <br>
    <br> <br>
</body>

</html>
