<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
       body {
         margin-top:30px;
         margin-bottom:20px;
         margin-left:20px;
         margin-right:20px;
       }
   </style>
  </head>
  <body>
    <h3 data-ke-size="size20"><b><span>Glide</span></b></h3>
    <p><span></span><a href="https://github.com/bumptech/glide">https://github.com/bumptech/glide</a></p>
    <p><span>Copyright 2014 Google, Inc</span></p>
    <p><span>Apache License, Version 2.0</span></p>
    <p><b>&nbsp;</b></p>
    <h3 data-ke-size="size20"><b><span>Gson</span></b></h3>
    <p><span></span><a href="https://github.com/google/gson">https://github.com/google/gson</a></p>
    <p><span>Copyright 2008 Google Inc.</span></p>
    <p><span>Apache License, Version 2.0</span></p>
    <p><b>&nbsp;</b></p>
    <h3 data-ke-size="size20"><b><span>Retrofit</span></b></h3>
    <p><span></span><a href="http://square.github.io/retrofit">http://square.github.io/retrofit</a></p>
    <p><span>Copyright 2013 Square, Inc.</span></p>
    <p><span>Apache License, Version 2.0</span></p>
    <p><b>&nbsp;</b></p>
    <h3 data-ke-size="size20"><b><span>RxJava</span></b></h3>
    <p><span></span><a href="https://github.com/ReactiveX/RxJava">https://github.com/ReactiveX/RxJava</a></p>
    <p><span>Copyright (c) 2016-present, RxJava Contributors</span></p>
    <p><span>Apache License, Version 2.0</span></p>
    <p><b>&nbsp;</b></p>
    <h3 data-ke-size="size20"><b><span>RxAndroid</span></b></h3>
    <p><span></span><a href="https://github.com/ReactiveX/RxAndroid">https://github.com/ReactiveX/RxAndroid</a></p>
    <p><span>Copyright (c) 2015, RxAndroid authors</span></p>
    <p><span>Apache License, Version 2.0</span></p>
    <p><b>&nbsp;</b></p>
    <h3 data-ke-size="size20"><b><span>CircleImageView</span></b></h3>
    <p><span></span><a href="https://github.com/hdodenhof/CircleImageView">https://github.com/hdodenhof/CircleImageView</a></p>
    <p><span>Copyright (c) 2014-2020, Henning Dodenhof</span></p>
    <p><span>Apache License, Version 2.0</span></p>
    <p><b>&nbsp;</b></p>
    <h3 data-ke-size="size20"><b><span>uCrop</span></b></h3>
    <p><span></span><a href="https://github.com/Yalantis/uCrop">https://github.com/Yalantis/uCrop</a></p>
    <p><span>Copyright (c) 2017, </span><span>Yalantis</span></p>
    <p><span>Apache License, Version 2.0</span></p>
    <p><b>&nbsp;</b></p>
    <h3 data-ke-size="size20"><b><span>Zoomy</span></b></h3>
    <p><span></span><a href="https://github.com/imablanco/Zoomy">https://github.com/imablanco/Zoomy</a><span><br /></span><span>Copyright (c) 2017, </span><span>&Aacute;lvaro Blanco Cabrero</span></p>
    <p><span>Apache License, Version 2.0</span></p>
    <p><b>&nbsp;</b></p>
    <h3 data-ke-size="size20"><b><span>OpenCV</span></b></h3>
    <p><span></span><a href="https://github.com/opencv/opencv">https://github.com/opencv/opencv</a><span>/</span></p>
    <p><span>Copyright (c) 2018, OpenCV team</span></p>
    <p><span>BSD 3-clause "New" or "Revised" License</span></p>
    <p><b>&nbsp;</b></p>
    <h3 data-ke-size="size20"><b><span>Facebook SDK for Android</span></b></h3>
    <p><span></span><a href="https://github.com/facebook/facebook-android-sdk">https://github.com/facebook/facebook-android-sdk</a></p>
    <p><span>Copyright (c) 2014-present, Facebook, Inc</span></p>
    <p><span>BSD, part MIT and Apache 2.0</span></p>
    <p><b><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></b></p>
    <p>&nbsp;</p>
  </body>
</html>
